{% extends "base.html" %}
{% load static %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
{% comment %} If redirecting to a page that's not the home page {% endcomment %}

<div class="background">
    <main>
        <form method="post">
            {% csrf_token %}
            {% if next and next != '/' %}  
                <h1>Please log in to continue...</h1>
            {% endif %}
            {{ form }}
            <button type="submit">Log In</button>
        </form>

        <a href="{% url "reset-password" %}">Forgot Password?</a>
    </main>
</div>

{% endblock content %}

