{% extends "base.html" %}
{% load static %}

{% block page_title %}Reset Password{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">{% endblock %}

{% block content %}

<div class="background">
    <main>
        <h1>
            If this is the first time recovering your username and password, 
            please email Mark at {{ email_host_user }} instead of 
            putting in your email.  Thank you!
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Recover Username and Password</button>
        </form>
    </main>
</div>

{% endblock content %}