{% extends "base.html" %}
{% load static %}

{% block page_title %}Change Password{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/change_password.css' %}">{% endblock %}

{% block content %}
<div class="background">
    <main>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="field_container">
                {{ field.label }}:
                {{ field }}
            </div>
            {% endfor %}
            <div class="password_requirements">
                <h2>Make sure your password follows these requirements:</h2>
                <ul>
                    <li>Significantly different than your username and old password.</li>
                    <li>At least 8 characters.</li>
                    <li>Not a commonly used password.</li>
                    <li>At least one letter or special character.</li>
                </ul>
            </div>
            
            <button>Change Password</button>
        </form>
    </main>
</div>
{% endblock %}
