{% extends "base.html" %}
{% load static %}

{% block page_title %}Carder-Taylor Wedding{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block content %}

<main>
    <div class="main_image_container">
        <img src="{% static 'page_images/home.jpg' %}"/>
    </div>
    <div class="date_and_rsvp">
        <div class='date'>
            <h1><span class="nowrap">June </span>29th, 2024</h1>
        </div>
        <div class='rsvp'>
            {% if user.is_authenticated%}
                {% if not user.rsvp %}
                    <a href="{% url 'rsvp' %}">RSVP</a>
                {% else %}
                    <p>You have RSVP'd - Thank You!</p>
                {% endif %}
            {% else %}
                <a href="{% url "login" %}?next={% url 'rsvp' %}">RSVP</a>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}