{% extends "base.html" %}
{% load static %}

{% block page_title %}Information{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/info.css' %}">{% endblock %}

{% block content %}
<div class="background">
    <main>
        <div class="date_time">
            <h2>Date and Time</h2>
            <p>June 29th, 2024</p>
            <p>5:00pm</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showNav=1&showTabs=0&showCalendars=0&mode=MONTH&src=NDhjZmY1YzUzY2FmMTJmYzg4YWJjMDc2M2MwODliZGFiZWJkNDY2YzQwY2EyNzdlNTg1MTY3Yzk5ODM2NjEyY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="location">
            <h2>Location</h2>
            <p>Douglas County KS Fairgrounds,<span class="no_wrap"> Building 21</span></p>
            <p>Lawrence, KS 66046</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.985646024685!2d-95.21743531060382!3d38.94715629877896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bf670372ec86a9%3A0xefdf967100da4f49!2sDouglas%20County%20Fairgrounds%20-%20Building%2021!5e0!3m2!1sen!2sus!4v1698118102718!5m2!1sen!2sus" width="600" height="450" style="border:1px solid lightgrey;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="schedule">
            <h2>Schedule</h2>
            <p>Coming soon...</p>
        </div>
        <div class="menu">
            <h2>Menu</h2>
            <ul>
                <li>Tacos</li>
                <li>Rice & beans</li>
                <li>Cake</li>
                <li>Margaritas</li>
                <li>Soft drinks</li>
                <li>Beer</li>
            </ul>
        </div>
        <div class="dress_code">
            <h2>What to Wear</h2>
            <ul>
                <li>Sunday Best or better!</li>
                <li>No jeans, please.</li>
            </ul>
        </div>
        <div class="open_bar">
            <span class="beer beer_left">🍺</span><h2>Open Bar!</h2><span class="beer beer_right">🍺</span>
        </div>
    </main>
</div>
{% endblock %}