{% extends "base.html" %}
{% load static %}

{% block page_title %}Registry{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/registry.css' %}">{% endblock %}

{% block js_file %}<script src="{% static 'js/registry.js' %}" defer></script>{% endblock %}

{% block content %}

<div class="background">
    <main>
        {% for item in registry_items %}
            <!-- add a class to the item container if the item is reserved so we can change its color -->
            {% if item.reserved_by == request.user and item.is_reservable %}
                <div class="item_container reserved">
            {% else %}
                <div class="item_container">
            {% endif %}
                    <div class="item_image">
                        <a href="{{ item.image_link }}"><img src="{% static item.image.name|cut:"images/" %}"/></a>
                    </div>
                    <div class="item_title">
                        <a href="{{ item.image_link }}"><h2>{{ item.title }}</h2></a>
                    </div>
                    <div class="item_reserved_status">
                        {% if not item.is_reservable %}
                            <p>Anything is appreciated!</p>
                        {% elif item.reserved_by %}
                            {% if item.reserved_by == request.user %}
                                <form action="{% url "reserve-item" %}" method="POST">
                                    {%csrf_token%}
                                    <input type="hidden" name="item_id" value={{ item.id }}>
                                    <p>You have reserved this item!</p><button type="button">Click to unreserve.</button>
                                </form>
                            {% else %}
                                <p>Another guest is bringing this item.</p>
                            {% endif %}
                        {% else %}
                            <form action="{% url "reserve-item" %}" method="POST">
                                {%csrf_token%}
                                <input type="hidden" name="item_id" value={{ item.id }}>
                                <button type="button">Click here if bringing this item!</button><p>Click picture to purchase.</p>
                            </form>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </main>
</div>
{% endblock %}