{% extends "base.html" %}
{% load static %}
{% block page_title %}RSVP{% endblock %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/rsvp.css' %}">{% endblock %}

{% block content %}

<div class="background">
    <main>
        <form method="post">
            {% csrf_token %}
            {% for item in form %}
                <div class="rsvp_field">
                    {{ item.label_tag }}
                    <br>
                    {{ item }}
                </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </main>
</div>
{% endblock %}