:root {
    --heading_height: calc(10px + 3rem + 10px + 10px + 3rem + 10px);
    --faded_background_color: rgba(255, 255, 255, 0.9);
    --quick_transition: transform .03s ease;
    --increase_scale_transform: scale(1.1);
    --background_image: url("https://images.unsplash.com/photo-1533119408463-b0f487583ff6?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    padding-top: var(--heading_height);
    z-index: -1;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block; /* to make them transformable*/
}

.navlinks ul {
    list-style-type: none;
}

header {
    background-color: white;
    margin-top: calc(-1 * (var(--heading_height)));
}

header .title {
    font-family: "Parisienne", "Times New Roman", serif;
    margin: 10px 0;
}

nav .navlinks,
nav .login a,
nav .logout_mobile a {
    font-family: "Poppins", "Libre Baskerville", serif;
    font-weight: lighter;
}

.profile_image_container a {
    display: inline;
}

@media only screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    header .title {
        text-align: center;
        flex-grow: 4;
        font-size: 3rem;
        line-height: 40px;
        white-space: nowrap;
    }

    header .hamburger {
        display: inline-block;
        z-index: 1;
        flex-grow: 1;
    }

    .burger_top, 
    .burger_middle,
    .burger_bottom {
        height: 2px;
        width: 30px;
        background-color: black;
    }

    .burger_middle {
        margin: 5px 0;
    }

    nav {
        position: fixed;
        width: 100vw;
        left: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: var(--heading_height);
        overflow-y: auto;
        bottom: 0;
        justify-content: space-evenly;
    }

    nav::before {
        content: "";
        background-image: url("https://images.unsplash.com/photo-1614876753060-0751185c9289?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1978&q=80");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        background-position: left;
    }

    nav::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25vw;
        right: 25vw;
        background-color: var(--faded_background_color);
        z-index: -1;
    }

    nav .profile_image_container {
        font-size: 1.5rem;
        width: 30vw;
        height: 30vw;
    }

    nav .profile_image_container .profile_image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    nav .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        height: 250px;
    }

    nav .logout_mobile a {
        font-size: 1.3rem;
    }

    nav .login a {
        display: inline;
        padding: 6px 20px 10px 20px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: rgb(230, 230, 230);
    }

    .visible {
        left: 0;
        transition: left .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .x-out_burger_top {
        transform: translateY(7.5px) rotate(45deg);
        border-radius: 10px;
        transition: transform .1s ease;
        background-color: rgb(90, 90, 90);
    }
    .x-out_burger_middle {
        transform: scale(0);
        transition: transform .1s ease;
    }
    .x-out_burger_bottom {
        transform: translateY(-6.5px) rotate(135deg);
        border-radius: 10px;
        transition: transform .1s ease;
        background-color: rgb(90 90 90);
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    header {
        display: flex;
        line-height: 40px;
        position: fixed;
        width: 100%;
    }

    header .title {
        margin-left: 20px;
        text-align: center;
        font-size: 3rem;
        white-space: nowrap;
    }

    header .hamburger, 
    nav .navlinks li:nth-child(1),
    nav .logout_mobile { 
        display: none;
    }

    nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
    }

    nav .navlinks {
        display: flex;
        font-size: 1.6rem;
        flex-grow: 1;
        order: 0;
        margin: 0 5px;
    }

    nav .navlinks ul {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    nav .navlinks li {
        display: inline-block;
    }

    nav .navlinks li a {
        border: 1.5px solid transparent;
    }

    nav .navlinks li a:hover {
        border-bottom: 1.5px solid black;
        transform: var(--increase_scale_transform);
        transition: var(--quick_transition);
    }

    nav .profile_image_container .profile_image:hover {
        transform: var(--increase_scale_transform);
        transition: var(--quick_transition);
    }

    nav .profile_image_container {
        width: calc(3rem + 20px);
        height: calc(3rem + 20px);
        order: 1;
        margin-right: 20px;
    }

    nav .profile_image_container .profile_image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var(--faded_background_color);
    }

    nav .login {
        order: 2;
        margin-right: 20px;
    }

    nav .login a {
        display: inline;
        padding: 3px 10px 5px 10px;
        border-radius: 10px;
        font-size: 1.6rem;
        background-color: rgb(230, 230, 230);
    }

    nav .login a:hover {
        background-color: lightgray;
    }

    nav .login a:active {
        background-color: gray;
    }
}

@media only screen and (min-width: 1025px) {
    header {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        line-height: 40px;
        max-width: 1024px;
        position: fixed;
        width: 100%;
    }

    header::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-1 * (100vw - 1024px) / 2);
        right: calc(-1 * (100vw - 1024px) / 2);
        background-color: white;
        z-index: -1;
    }

    header .title {
        margin-left: 20px;
        text-align: center;
        font-size: 3rem;
        white-space: nowrap;
    }

    header .hamburger, 
    nav .navlinks li:nth-child(1),
    nav .logout_mobile { 
        display: none;
    }

    nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    nav .navlinks {
        display: flex;
        font-size: 1.8rem;
        flex-grow: 1;
        order: 0;
        margin: 0 20px;
    }

    nav .navlinks ul {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    nav .navlinks li {
        display: inline-block;
    }

    nav .navlinks li a {
        border: 1.5px solid transparent;
    }

    nav .navlinks li a:hover {
        border-bottom: 1.5px solid black;
        transform: var(--increase_scale_transform);
        transition: var(--quick_transition);
    }

    nav .profile_image_container .profile_image:hover {
        transform: var(--increase_scale_transform);
        transition: var(--quick_transition);
    }

    nav .profile_image_container {
        width: calc(3rem + 30px);
        height: calc(3rem + 30px);
        order: 1;
        margin-right: 20px;
    }

    nav .profile_image_container .profile_image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var(--faded_background_color);
    }

    nav .login {
        order: 2;
        margin-right: 20px;
    }

    nav .login a {
        display: inline;
        padding: 6px 20px 10px 20px;
        border-radius: 10px;
        font-size: 1.8rem;
        background-color: rgb(230, 230, 230);
    }

    nav .login a:hover {
        background-color: lightgray;
    }

    nav .login a:active {
        background-color: gray;
    }
}