.background {
    width: 100%;
    background-image: var(--background_image);
    background-size: cover;
    position: relative;
    z-index: -1;
    min-height: calc(100vh - var(--heading_height));
}

main form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
    max-width: 1024px;
    padding: 10px;
}

main form label {
    font-size: 2.5rem;
    font-family: "Poppins", "Libre Baskerville", serif;
    padding: 10px 20px;
    background-color: var(--faded_background_color);
    border-radius: 10px;
    box-shadow: 
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

main form input {
    display: block;
    text-align: center;
    width: 80vw;
    height: 50px;
    font-size: 2.5rem;
    max-width: 750px;
    margin-bottom: 20px;
}

main form button {
    font-size: 2.5rem;
    font-family: "Poppins", "Libre Baskerville", serif;
    padding: 10px 20px;
}

main form button:hover {
    transform: scale(1.02);
    transition: var(--quick_transition);
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 699px) {
    
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    
} 

@media only screen and (min-width: 1025px) {
    
}