.background {
    width: 100%;
    background-image: var(--background_image);
    background-size: cover;
    position: relative;
    z-index: -1;
    min-height: calc(100vh - var(--heading_height));
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: calc(100vh - var(--heading_height));
    justify-content: center;
    text-align: center;
    gap: 10px;
}

main h1,
main a {
    font-size: 2rem;
    font-family: "Poppins", "Libre Baskerville", serif;
    padding: 10px 20px;
    background-color: var(--faded_background_color);
    border-radius: 10px;
    box-shadow: 
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 699px) {
    
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    main {
        justify-content: flex-start;
    }
} 

@media only screen and (min-width: 1025px) {
    main {
        justify-content: flex-start;
    }
}