.background {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1533119408463-b0f487583ff6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80");
    background-size: cover;
    position: relative;
    z-index: -1;
    min-height: calc(100vh - var(--heading_height));
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
    max-width: 1024px;
    padding: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;
    background-color: var(--faded_background_color);
    border-radius: 10px;
    box-shadow: 
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-family: "Libre Baskerville", "Poppins", "Times New Roman", serif;
    max-width: 1024px;
    text-align: center;
    width: 100%;
}

main form label {
    font-size: 2.5rem;
}

main form input {
    width: 80vw;
    max-width: 924px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
}

main form button {
    padding: 10px 20px;
    font-size: 2.5rem;
}

main form textarea {
    width: 80vw;
    max-width: 924px;
    font-size: 2rem;
    margin-top: 5px;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 699px) {
    
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    
} 

@media only screen and (min-width: 1025px) {
    
}